#instruct{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    font-family: monospace;
    font-size: 20px;
}
.page-header{
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 5px;
}
.pl-md-5{
    padding-left: 3rem!important;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    display: block;
    box-sizing: border-box;
}
.bd-content{
    order: 1;
}
.bd-sidebar{
    border-right: 1px solid rgba(0,0,0,.1);
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: sticky;
    z-index: 1000;
}
.input-group{
    padding-top: 25px;
}